/* Based on the background image, this bear is HUGE! There's a person crouched on the cliff a third of the way down on the left that wouldn't even come up to the bear's knees, haha =) */

html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 1196px) {
  #bear {
    left: 800px;
  }
}
