html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 1196px) { /* trigger @media query at 1196px or larger */
  #bear { /* applies to the #bear id */
    position: fixed; /* will not move as screen scrolls */
    left: 800px; /* stay 800px from left side always */
  }
}