html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
/* min-width 406px to max-width 1090px  */
@media only screen and (max-width: 1090px) and (min-width: 406px) {
    #monkey {
      right: 0;
      top: 0;
    }
}
