html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
@media only screen and (max-width: 1165px) {
    img {
      position: fixed;
      top: 0;
      right: 0;
  }
}
@media only screen and (max-width: 395px) {
    img {
      position: absolute;
      bottom: 550px;
      right: 75px;
  }
}
