html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
@media only screen and (min-width: 350px) and (max-width: 1150px){
  #monkey {
    top: 0px;
    right: 0px;
  }
}
