html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */

@media only screen and  (max-width:1395px){
    #ostrich{
        top:-100px;
    }
}

@media only screen and  (max-width: 1055px ){
    #ostrich{
        top: -60px;
    }
}

@media only screen and  (max-width: 924px ){
    #ostrich{
        top: -75px;
    }
}
@media only screen and  (max-width: 460px ){
    #ostrich{
        top: -60px;
    }
}
